###### Pandas Advance - 1

Q1. List any five functions of the pandas library with execution.

below listed are the function

1. read_csv() -To read in data for data analysis using pandas
2. head() - Highlight the first 5 rows of the dataframe and can be set
3. tail() - reverse form of head and can also be set as the name indicates
4. describe() - provides summary statistics of numerical columns in a DataFrame
5. dtype() - output the data type of each column

In [26]:
### would list and demonstrate 5 pandas library functions with execution

import pandas as pd
## Load the dataset
## read()
example = pd.read_csv("services.csv")

In [27]:
##head()
example.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [28]:
###tail
example.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [29]:
### describe()
example.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [30]:
## dtype()
example.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

### Question 2
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
## list comprehension to build the new index list
new_index = [x for x in range(1, len(df),2)]

### Then apply 
mp = df.reindex(new_index)
mp

In [31]:
### using dataframe in question 1 for demonstrations
## list comprehension to build the new index list
new_index = [x for x in range(1, len(df),2)]

### Then apply 
mp = example.reindex(new_index)
mp ### The index starts from 1 and progress!!!!

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"

### Question 3
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [ ]:
### Break down, this will involve picking out the column as series
df.["values"]

## then slice the range needed out
df.["values"][:5]

### then use a for loop to iterate over it and sum it

#### define variable
sum_first5 = 0

for value in df["values"][:5]:
    sum_first5 += value
print(sum_first5)

In [39]:
### using the example suggested 
# The
# function should print the sum to the console.
# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
# calculate and print the sum of the first three values, which is 60.

import pandas as pd

df = pd.DataFrame({"values":[10, 20, 30, 40, 50]})

sum_first5 = 0

for value in df["values"][:3]:
    sum_first5 += value
print(sum_first5)

60

### Question 4
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
## Answer to quetion 4
df["Worl_Count"] = df["Text"].str.split().apply(len)

In [41]:
### example for illustrations
import pandas as pd

# Create a sample DataFrame with a column of strings
df = pd.DataFrame({'text': ['this is me trying this out', 'another example sentence', 'one more sentence']})

# Split the strings in the 'text' column into lists of words
# df['words'] = df['text'].str.split()

# Count the number of words in each list using the len() function and assign the result to a new column
# df['word_count'] = df['words'].apply(len)

df['word_count'] = df['text'].str.split().apply(len)

# Print the resulting DataFrame
print(df)

                         text  word_count
0  this is me trying this out           6
1    another example sentence           3
2           one more sentence           3

### Question 5
Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() and DataFrame.shape() different in the information they output when used, although both of them are Pandas DataFrame attributes: DataFrame.size() returns the total number of elements in the DataFrame which is the multiplication of the rows and columns i.e 2 by 3 (6 )while DataFrame.shape returns a tuple that contains the row and column numbers e.g  (2,3).

In [42]:
## An example of the above
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9], 'D': [10, 11, 12]})

# Get the size and shape of the DataFrame
print('DataFrame size:', df.size)
print('DataFrame shape:', df.shape)

DataFrame size: 12
DataFrame shape: (3, 4)

### Question 6
Q6. Which function of pandas do we use to read an excel file?

import pandas as pd

pd.read_excel() -- is used for reading excel files in Pandas

### Question 7
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [ ]:
df["Username"] = df["Email"].apply(lambda x: x.split("@")[0])

In [43]:
#Examplet to back up the answer!!!
df_email = pd.DataFrame({"Email Addresses":['john.doe@example.com', "elijah@gmail.com", "angelmichael@yahoo.com"]})

df_email

          Email Addresses
0    john.doe@example.com
1        elijah@gmail.com
2  angelmichael@yahoo.com

In [57]:
##Note: str needs to come before the split for strings values
df_email["Username"] = df_email["Email Addresses"].apply(lambda x: x.split("@")[0])

df_email

          Email Addresses      Username
0    john.doe@example.com      john.doe
1        elijah@gmail.com        elijah
2  angelmichael@yahoo.com  angelmichael

### Question 8
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [ ]:
## answer to the question above
newdf1[ (newdf1["A"] > 5) & (newdf1["B"] < 10) ]

In [58]:
### Replicating the example floated in the question to back up my answer
import pandas as pd

newdf1 = pd.DataFrame({"A":[3,8,6,2,9], "B":[5,2,9,3,1], "C":[1,7,4,5,2]})
newdf1

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [60]:
## The result for the conditions
newdf1[ (newdf1["A"] > 5) & (newdf1["B"] < 10) ]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Question 9
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [ ]:
## function to calculate statistics (mean, median and standard deviation)
import pandas as pd
## data
df
##function
def calculate_statistics(df):
    mean = df["values"].mean()
    median = df["values"].median()
    std_dev = df["values"].std()
    return mean, median, std_dev
mean, median, std_dev = calculate_statistics(df)
print('Mean:', mean)
print('Median:', median)
print('Standard deviation:', std_dev)

In [63]:
### Example to back up the answer
import pandas as pd

newdf1 = pd.DataFrame({"A":[3,8,6,2,9], "B":[5,2,9,3,1], "C":[1,7,4,5,2]})
# newdf1

def calculate_statistics(newdf1):
    mean = newdf1["A"].mean()
    median = newdf1["A"].median()
    std_dev = newdf1["A"].std()
    return mean, median, std_dev
mean, median, std_dev = calculate_statistics(newdf1)
print('Mean:', mean)
print('Median:', median)
print('Standard deviation:', std_dev)

Mean: 5.6
Median: 6.0
Standard deviation: 3.0495901363953815

### Question 10
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [ ]:
import pandas as pd
#datasetframe

def moving_avg_add(df):
### arrange the dates in orderly manner
    df = df.sort_values('Date')

    # Calculate the rolling average with a window of 7 days, including the current day
    rolling_avg = df['Sales'].rolling(window=7, min_periods=1).mean()

    # Add the rolling average as a new column in the DataFrame
    df['MovingAverage'] = rolling_avg
    
    return df

## adding the moving average colunm to the DataFrame
df = moving_avg_add(df)

### Question 11
Q11 You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [68]:
## Will use this example to answer the question above
import pandas as pd
## creating the dataframe
df = pd.DataFrame({"Date":["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"]})

## creating the function to add weekday column
def weekday_col_add(df):
    ## convert it to datetime format while picking it out as series
    df["Date"] = pd.to_datetime(df["Date"])
    ## creating new column in weekday format
    df["Weekday"] = df["Date"].dt.day_name()
    return df

df = weekday_col_add(df)
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Question 12
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'

In [ ]:
df[ (df["Date"] > '2023-01-01') & (df["Date"] > '2023-01-31') ]

### Question 13
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

pandas library itself is the most basic library to import to use pandas
Below is how it is loaded

import pandas as pd

####  The End